.container {
	background-color: var(--white);
	color: var(--black);
}

.scene {
	display: flex;
	align-items: center;
}

.wordWrap {
	position: relative;
	display: inline-block;
}

.sparkleWord {
	color: var(--dark-green);
}
