.articles {
	padding: 2.5rem 2.5rem;
}

.articles h2 {
	margin-bottom: 2.5rem;
	font-size: clamp(2.5rem, calc(0.725rem + 4.1vw), 5rem);
	font-weight: 700;
}

@media screen and (max-width: 414) {
	.articles {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
